<section class="jumbotron-fluid  p-3 services_Background programas" id="Programas">
    <div class="row text-center  flex-column flex-md-row justify-content-around p-0 mr-0">

        <div class="container">
            <section class="content">

                <h3>EJERCICIOS</h3>
                <div class="container p-3 mb-2 bg-dark text-white ">
                    <form action=" index.php" method="post">
                        <span>Elige numero 1 </span>
                        <input type="number" class=" form-control input-sm  col-sm-1 " name="num1" value="0" min="0" max="10"> <br>
                        <span>Elige el numero 2 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="num2" value="0" min="0" max="10"> <br>
                        <span>Elige el numero 3 </span>
                        <input type="number" class="form-control input-sm  col-sm-1 " name="num3" value="0" min="0" max="10"> <br>
                        <span>Elige el numero 4 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="num4" value="0" min="0" max="10"> <br>
                        <span>Elige el numero 5 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="num5" value="0" min="0" max="10"> <br>
                        <span>Elige el numero 6 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="num6" value="0" min="0" max="10"> <br>
                        <span>Elige el numero 7 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="num7" value="0" min="0" max="10"> <br>
                        <span>Elige el numero 8 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="num8" value="0" min="0" max="10"> <br>
                        <span>Elige el numero 9 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="num9" value="0" min="0" max="10"> <br>
                        <span>Elige el numero 10 </span>
                        <input type="number" class="form-control input-sm  col-sm-1" name="num10" value="0" min="0" max="10"> <br>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>