<section id="Preguntas">
    <div class="p-3 mb-2 bg-light text-dark">
        <header>
            <h2>PPREGUNTAS LAB 10</h2>
        </header>
        <p> <strong>¿Por qué es una buena práctica separar el controlador de la vista?</strong></p>
        <p>Genera más control y legibilidad para los desarrolladores de código y diseño WEB</p>

        <p> <strong>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</strong></p>
        <p>método PUT: cuando necesite reemplazar el estado de algunos datos ya existentes en ese sistema.</p> 
        <p>$_SESSION: Es un array asociativo que contiene variables de sesión disponibles para el script actual. </p> 
        <p>DELETE: cuando necesite eliminar un recurso (relativo al URI que ha enviado) en ese sistema </p>

        <p> <strong>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</strong></p>
        <p> un strstr(string cadena) sirve para buscar una cadena dentro de otra cadena, util para buscar patrones en textos</p>
        
       <p><strong>¿Qué es XSS y cómo se puede prevenir?</strong></p>
       <p> XSS es un ataque de inyección de código malicioso en sitios web, aplicaciones locales e incluso al propio navegador del usuario. Sucede cuando un usuario mal intencionado envía código malicioso a la aplicación web y se coloca en forma de un hipervínculo para conducir al usuario a otro sitio web, mensajería instantánea o un correo electrónico. Así mismo, puede provocar una negación de servicio (DDos).</p>
        <p>Se previene haciendo que la aplicación web que se desee implementar cuente con un buen diseño. Posteriormente, se deben realizar diversos tipos de pruebas antes de su liberación, para detectar posibles fallos y  huecos de seguridad.</p>

        <h3>Bibliografía</h3>
        <p>https://www.rephp.com/protocolo-http-put-y-delete-y-su-uso-en-php.html</p>
        <p>https://www.php.net/manual/es/reserved.variables.session.php</p>
        <p>https://www.seguridad.unam.mx/historico/documento/index.html-id=35</p>



    </div>
</section>